# Entorno virtual
.venv/
venv/
env/

# Cache de Python
__pycache__/
*.py[cod]
*$py.class

# Pytest
.pytest_cache/
.coverage
htmlcov/

# Ruff
.ruff_cache/

# Kedro local config
conf/local/*
!conf/local/.gitkeep

# Variables de entorno
.env
.env.*

# VS Code
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db